.page {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.progressContainer {
  width: 200px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.progressBar {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  transform-origin: left;
}

// Dark mode support
@media (prefers-color-scheme: dark) {
  .page {
    background-color: #000;
  }
  
  .progressContainer {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .progressBar {
    background-color: rgba(255, 255, 255, 0.4);
  }
}